{% extends 'layout.twig' %}
{% block body %}
    <article class="blog">
    <div class="date"><time datetime="{{ blog.created_at|date('c') }}">{{ blog.created_at|date('l, F j, Y') }}</time></div>
    <header>
    <h2><a href="blog/{{ blog.id }}">{{ blog.title }}</a></h2>
    </header>
    <img src="/img/{{blog.image}}" />
    <div class="snippet">
    <p>{{ blog.blog}}</p>
    </div>
    {% include 'comments.html.twig' %}
 {% endblock %}